.notification-menu {
    position: relative;
}

.notification-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    color: var(--text);
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;
}

.notification-button:hover {
    color: var(--btn);
}

.notification-badge {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: var(--btn);
    color: var(--primary-color);
    font-size: 0.8rem;
    padding: 1px 6px;
    border-radius: 999px;
}

.notification-dropdown {
    width: 400px;
    height: 400px;
    background-color: #1a1a1bee;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, .493);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 70px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.notification-dropdown.collapsed {
    display: none;
}
/* 
.notifications-sidebar::-webkit-scrollbar {
    display: none;
}

.notifications-sidebar::-webkit-scrollbar-thumb {
    background-color: var(--btn);
    border-radius: var(--border-radius);
} */

.titleNotificationMenu {
    margin-bottom: 9px;
    padding: 0.5rem;
}

.notification-empty {
    padding: 0.5rem;
}

.notification-avatar {
    width: 48px;
    height: 48px;
    border-radius: 999px;
}

.notification-item {
    border-radius: 10px;
    padding: 10px;
    color: var(--text);
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.notification-item:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}


.notification-item:last-child {
    border-bottom: none;
}

.notification-item.read {
    opacity: 0.6;
}

.notification-item.read .notification-avatar {
    filter: grayscale(100%);
}

