.notification-menu {
    position: relative;
}

.notification-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    color: var(--text);
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;
}

.notification-button:hover {
    color: var(--btn);
}

.notification-badge {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: var(--btn);
    color: var(--primary-color);
    font-size: 0.8rem;
    padding: 1px 6px;
    border-radius: 999px;
}

.notifications-sidebar {
    width: 400px;
    height: 400px;
    background: var(--container-color-blur);
    border: 1px solid var(--border-container-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 70px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.notifications-sidebar main div {
    display: flex;
    max-width: 100%;
}

.notifications-container {
    margin-bottom: 10px;
    gap: 10px;
    border: 1px solid var(--border-container-color);
    background: linear-gradient(90deg, #1e1e1f, #252526, #1e1e1f);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}


.notifications-sidebar main {
    padding: 0px 20px 0px 20px;
}

.notifications-sidebar.collapsed {
    width: 400px;
    height: 0;
    border: none;
}

.notifications-sidebar header {
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.notification-dropdown::-webkit-scrollbar {
    display: none;
}

.notification-dropdown::-webkit-scrollbar-thumb {
    background-color: var(--btn);
    border-radius: var(--border-radius);
}

.titleNotificationMenu {
    margin-bottom: 9px;
    padding: 0.5rem;
}

.notification-empty {
    padding: 0.5rem;
}

.notification-avatar {
    width: 48px;
    height: 48px;
    border-radius: 999px;
}

.notification-item {
    width: auto;
    padding: 10px 0px 10px 20px;
    color: var(--text);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px 0px 0px 30px;
}

.notification-content {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 12px;
}

.notification-text {
    font-size: 14px;
}

.notification-item button {
    width: 20px;
}

.notification-content span {
    color: var(--btn);
}



.notification-item:last-child {
    border-bottom: none;
}

.read {
    opacity: 0.6;
}

.notification-item.read .notification-avatar {
    filter: grayscale(100%);
}

.btn-link {
    background: none;
    border: none;
    color: var(--btn);
    cursor: pointer;
    width: 40px;
}

.btn-link:hover {
    color: var(--btn-dark);
}

.delete-notification-button {
    background-color: #e96765;
    width: 40px;
    border: none;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-notification-button:hover {
    background-color: #b94c4a;
}

.mark-all-read-btn {
    background: var(--btn);
    border: none;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.mark-all-read-btn:hover {
    background: var(--btn-dark);
}

.refresh-btn {
    background: transparent;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.refresh-btn:hover {
    color: var(--btn);
}

@media (max-width: 481px) {
    .notifications-sidebar.collapsed {
        width: 95%;
        margin-right: 10px;
    }

    .notifications-sidebar {
        width: 95%;
        margin-right: 10px;
    }
}