.tag-search-container, .selected-tag-title {
    width: 95%;
    margin: 1rem auto;
}

.tag-search-container h3 {
    margin: 0px 0px 10px;
}


.tag-input {
    width: 100%;
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 30px;
    color: var(--text-color);
}


.tag-input:focus {
    outline: none;
    border: 1px solid var(--btn);
}

.tags-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tag-item {
    padding: 6px 12px;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    cursor: pointer;
    transition: 0.2s;
}

.tag-item:hover {
    border-color: var(--btn);
}

.tag-item.selected {
    background: var(--btn);
    color: var(--primary-color);
    border-color: var(--btn);

}