:root {
    --primary-color: #1a1a1b;
    --background-color: #1F1F20;
    --hover-color: #232324;
    --btn: #90B484;
    --btn-dark: #749269;
    --text-color: #777878;
    --border-radius: 30px;
    --font-size: clamp(0.5rem, 3vw, 1rem)
}

@font-face {
    font-family: garet;
    src: url('../assets/media/fonts/garet/Garet-Book.woff2');
    font-weight: 400;
    font-style: normal
}

* {
    margin: 0;
    padding: 0;
    font-family: garet;
    box-sizing: border-box;
    transition: .3s
}

.main-content {
    margin-left: 100px;
}

a,
body {
    color: var(--text-color)
}

.sidebar-nav .nav-tooltip,
.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
    opacity: 0;
    pointer-events: none
}

.ts-nav-link,
a {
    text-decoration: none
}

.title,
.ts-nav-label {
    font-weight: 500
}

#soon-modal {
    display: none
}

.feedback-modal-content form input[type=file],
.hide {
    display: none !important;
}

.header,
.right-menu-modal header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25)
}

body {
    background-color: var(--background-color);
    padding-top: 56px
}

p {
    font-size: var(--font-size)
}

h1 {
    font-size: 2rem
}

hr {
    background: var(--text-color);
    height: 1px;
    border: none;
    border-radius: 30px;
}

.frequently-asked-questions summary,
button:hover {
    cursor: pointer
}

.sr-header-userActions {
    display: flex;
    align-items: center;
    gap: .05rem
}

.menu-btn,
.mic-btn,
.notify-btn,
.user-btn {
    background: 0 0;
    border: none;
    color: #777878;
    cursor: pointer;
    font-size: 1.2rem;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center
}

.user-btn.logged-in {
    color: var(--btn);
}

.change-password-form a,
.menu-btn:hover,
.mic-btn:hover,
.notify-btn:hover,
.user-btn:hover {
    color: var(--btn)
}

.logo {
    height: 32px
}

.title {
    font-size: 1.125rem;
    color: #777878
}

.search-btn {
    padding: 8px 12px;
    border: none;
    color: #1f1f20;
    cursor: pointer
}

.search-btn:hover {
    background-color: #749269
}

.sr-header-createButton{
    background-color: #1a1a1b;
    border-radius: 30px;
    padding: 10px;
    color: #777878;
    font-size: 1.2rem;
    gap: 8px;
    cursor: pointer;
    border: none
}

.sr-header-createButton i,
.sidebar-header {
    display: flex;
    align-items: center
}

.sr-header-createButton i {
    color: #1a1a1b;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    justify-content: center
}

.change-password-form a:hover,
.sr-header-createButton:hover {
    color: var(--btn-dark)
}

.sr-header-userActions {
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 5px 10px
}

.sidebar,
.ts-sidebar {
    width: 270px;
    position: fixed;
    background-color: #1a1a1bee;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, .493);
    backdrop-filter: blur(10px)
}

.sidebar {
    margin: 15px 0 0 15px;
    border-radius: 30px;
    height: calc(100vh - 32px);
    z-index: 2;
    overflow: hidden
}

.sidebar-header {
    position: relative;
    padding: 20px 20px 50px;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.sidebar-nav {
    height: calc(100vh - 32px - 90px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--btn) transparent
}

.sidebar-nav::after {
    content: "";
    display: block;
    height: 50px
}

.sidebar-nav::-webkit-scrollbar {
    width: 6px
}

.sidebar-nav::-webkit-scrollbar-thumb {
    background: var(--btn);
    border-radius: 8px
}

.sidebar-nav::-webkit-scrollbar-track {
    background: 0 0
}

.sidebar.collapsed {
    width: 85px;
    background-color: var(--primary-color);
    box-shadow: none
}

.sidebar-header .toggler {
    position: absolute;
    right: 20px;
    height: 35px;
    bottom: 10px;
    width: 35px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 30px;
    background: var(--btn);
    color: var(--hover-color)
}

.sidebar-header .sidebar-toggler {
    position: absolute;
    right: 25px
}

.sidebar-header .toggler:hover {
    background: var(--btn-dark)
}

.sidebar.collapsed .sidebar-header .sidebar-toggler span {
    transform: rotate(180deg)
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(10px)
}

.sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(30px)
}

.sidebar-nav .nav-link {
    color: var(--text-color);
    display: flex;
    gap: 12px;
    white-space: nowrap;
    border-radius: 30px;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none
}

.sidebar-nav .nav-link:hover {
    color: var(--hover-color);
    background-color: var(--btn)
}

.sidebar-nav .nav-item,
.ts-nav-item {
    position: relative
}

.sidebar-nav .nav-tooltip {
    position: absolute;
    top: -10px;
    left: calc(100% + 25px);
    color: var(--primary-color);
    padding: 6px 12px;
    border-radius: 8px;
    background: var(--hover-color);
    white-space: nowrap;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    transition: opacity .2s;
    display: block
}

.sidebar-nav .nav-item:hover .nav-tooltip,
.sidebar.collapsed .sidebar-nav .nav-item:hover .nav-tooltip {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(50%);
    background-color: var(--btn)
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
    display: block
}

.ts-sidebar {
    top: 70px;
    right: 16px;
    border-radius: 30px;
    z-index: 4;
    overflow: hidden;
    display: flex;
    flex-direction: column
}

#soon-modal,
.right-menu-modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh
}

.ts-sidebar.collapsed {
    transform: translateX(110%);
    pointer-events: none;
    background-color: var(--primary-color);
    box-shadow: none;
}

.ts-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px
}

.ts-sidebar-close {
    background: 0 0;
    border: none;
    color: var(--white-color);
    cursor: pointer
}

.ts-sidebar-nav {
    padding: 20px
}

.ts-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.ts-nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--text-color);
    padding: 12px 16px;
    border-radius: var(--border-radius);
    width: 100%;
    background-color: transparent;
    border: none
}

.settings-option-btn.active,
.settings-option-btn:hover,
.ts-nav-link:hover {
    background: var(--btn);
    color: var(--primary-color)
}

#soon-modal {
    z-index: 1000;
    width: 100vw;
    background: rgba(0, 0, 0, .4);
    align-items: center;
    justify-content: center
}

.soon-modal-content {
    background-color: var(--background-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    max-width: 90vw;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .2)
}

.soon-modal-content h2 {
    margin: 30px
}

.soon-modal-content p {
    margin-bottom: 24px
}

.close-soon-modal-container {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #90b484;
    margin-bottom: -32px
}

#close-soon-modal {
    width: 100px;
    padding: 8px 15px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--primary-color)
}

#close-soon-modal:hover {
    background: var(--primary-color);
    color: var(--btn)
}

.play-modal-btn,
.return-btn-soon {
    width: 100px;
    padding: 8px 15px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: var(--btn)
}

.return-btn-soon {
    margin: 0
}

.change-password-form button:hover,
.feedback-modal-content form button:hover,
.play-modal-btn:hover,
.return-btn-soon:hover {
    background-color: var(--btn-dark)
}

.right-menu-modal {
    display: none;
    z-index: 999;
    width: 100vw;
    background: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center
}

.feedback-modal-content,
.help-modal-content,
.settings-modal-content {
    background-color: var(--background-color);
    border-radius: 30px;
    min-width: 320px;
    max-width: 90vw;
    min-height: 120px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .2)
}

.right-menu-modal header {
    display: flex;
    justify-content: space-between;
    background-color: var(--btn);
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: var(--primary-color)
}

.right-menu-modal button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none
}

.right-menu-modal header button:hover {
    transform: scale(1.2)
}

.feedback-modal-content form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px
}

.change-password-form label,
.feedback-modal-content label {
    margin-bottom: -10px
}

.feedback-modal-content form input[type=email],
.feedback-modal-content form textarea {
    border-radius: 30px;
    padding: 20px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    resize: none;
    color: var(--text-color)
}

.feedback-modal-content form input:focus,
.feedback-modal-content form textarea:focus {
    outline: none;
    border-color: var(--btn)
}

.feedback-modal-content form label[for=feedback-file] {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid var(--text-color);
    cursor: pointer
}

.feedback-modal-content form label[for=feedback-file]:hover {
    border: 1px solid var(--btn)
}

.feedback-modal-content form button {
    background-color: var(--btn);
    color: var(--primary-color);
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px
}

.frequently-asked-questions {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px
}

/* Settings modal */
.settings-main-content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.settings-modal-content {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 600px;
    max-width: 90vw;
    max-height: 90vh;
    overflow: hidden;
    border-radius: 30px;
    background-color: var(--primary-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    scrollbar-width: thin;
    scrollbar-color: var(--btn) transparent;
}

.settings-main-content nav {
    background-color: var(--primary-color);
    padding: 20px;
    border-bottom-left-radius: 30px;
    width: 25%;
}

.settings-main-content nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.settings-option-btn {
    width: 100%;
    background: var(--btn);
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    cursor: pointer;
    text-align: start;
    color: var(--text-color);
    font-size: 1em;
    transition: background-color 0.2s;
}

.setting-section {
    padding: 20px 40px;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: auto;
    height: 100%;
}

/* Oculta  secciones que no están activas */
.setting-section.hide {
    display: none;
}

.setting-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.change-password-form input[type=password] {
    border-radius: 30px;
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.change-password-form input:focus {
    outline: none;
    border-color: var(--btn);
}

.change-password-form button {
    background-color: var(--btn);
    color: var(--primary-color);
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.change-password-form a,
.change-password-form p {
    margin-top: -15px;
    margin-left: 10px;
    font-size: 0.8em;
}

.setting-section-btn-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.delete-account-btn,
.disable-account-btn,
.generic-btn {
    padding: 12px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.delete-account-btn {
    background-color: #e96765 !important;
}

.delete-account-btn:hover {
    background-color: #b94c4a !important;
}

.disable-account-btn {
    background-color: #696969 !important;
}

.disable-account-btn:hover {
    background-color: #575757 !important;
}

.setting-section h2 {
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    color: var(--text-color);
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #696969;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--btn);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.payment-history {
    width: 100%;
    margin-top: 10px;
    border-spacing: 0;
    border: 1px solid var(--btn);
    border-radius: 15px;
    overflow: hidden;
}

.payment-history th,
.payment-history td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid var(--btn);
}

.payment-history tr:last-child td {
    border-bottom: none;
}

.payment-history th {
    background-color: #ffffff1a;
    border-bottom: 1px solid var(--btn);
}

.settings-select {
    border-radius: 30px;
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    width: 200px;
}

.settings-select:focus {
    outline: none;
    border: 1px solid var(--btn);
}

.settings-select option {
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* Notification container */
.notifications-sidebar {
    width: 400px;
    height: 400px;
    background-color: #1a1a1bee;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, .493);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 70px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.notifications-sidebar header {
    padding: 20px;
    flex-shrink: 0;
    display: flex;
}

.search-friend-btn:hover {
    background-color: var(--btn-dark);
}

.notifications-sidebar main {
    width: 100%;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0px 20px 0px 20px;
    scrollbar-width: thin;
    scrollbar-color: var(--btn) transparent;
}

.notifications-sidebar.collapsed {
    width: 400px;
    height: 0px;
    box-shadow: none;
}

.notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 10px;
}

.notification-item:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.notification-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.notification-item div {
    text-align: end;
}

.notification-item div span {
    color: var(--btn);
}

.notifications-sidebar main::-webkit-scrollbar {
    width: 6px;
}

.notifications-sidebar main::-webkit-scrollbar-thumb {
    background: var(--btn);
    border-radius: 8px;
}

.notifications-sidebar main::-webkit-scrollbar-track {
    background: transparent;
}

/* Friends menu */
.friends-sidebar {
    width: 300px;
    height: 350px;
    background-color: #1a1a1bee;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, .493);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 195px;
    margin-right: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.friends-sidebar.collapsed {
    width: 0px;
    box-shadow: none;
}

.friends-header-one {
    height: 75px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    visibility: visible;
}

.friends-sidebar.collapsed .friends-header-one {
    opacity: 0;
    visibility: hidden;
    padding: 0;
    height: 0;
}

.friends-header-one div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.friends-header-one select {
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: (var(--text-color));
    cursor: pointer;
}

.friends-header-one select:focus {
    outline: none;
    border-color: var(--btn);
}

.friends-header-one select option {
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
}

.friends-header-one select option:hover {
    cursor: pointer;
    background-color: var(--btn);
}

.friends-header-two {
    height: 75px;
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    visibility: visible;
}

.friends-sidebar.collapsed .friends-header-two {
    opacity: 0;
    visibility: hidden;
    padding: 0;
    height: 0;
}

.friends-header-two input {
    height: 30px;
    border-radius: 30px 0px 0px 30px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    padding-left: 10px;
    color: var(--text-color);
    flex-grow: 1;
    min-width: 0;
}

.friends-header-two button {
    width: 30px;
    height: 30px;
    border-radius: 0px 30px 30px 0px;
    background-color: var(--btn);
    border: none;
    margin-right: 5px;
    color: var(--primary-color);
    flex-shrink: 0;
}

.back-to-friends-header-one {
    border-radius: 30px !important;
    margin-right: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friends-header-two input:focus {
    outline: none;
    border-color: var(--btn);
}

.open-search-friend-btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    flex-shrink: 0;
}

.open-search-friend-btn:hover {
    color: var(--btn);
}

.friends-sidebar main {
    width: 100%;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0px 20px 0px 20px;
    scrollbar-width: thin;
    scrollbar-color: var(--btn) transparent;
    opacity: 1;
}

.friends-sidebar.collapsed main {
    overflow-y: hidden;
    padding: 0;
    opacity: 0;
}

/* ----------------------------- */

.friend-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}


.friends-sidebar main div img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.friend-card div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: -25px;
    z-index: 2;
}

.online-friend div {
    background-color: rgb(146, 231, 172);
}

.offline-friend div {
    background-color: rgb(126, 126, 126);
}

.occupied-friend div {
    background-color: rgb(228, 89, 70);
}

.gray {
    filter: grayscale(100%);
}

.invite-friend-btn {
    background-color: var(--btn);
    color: var(--primary-color);
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    cursor: pointer;
}

.invite-friend-btn:hover,
.back-to-friends-header-one:hover {
    background-color: var(--btn-dark);
}

.chat-friend-btn:hover {
    transform: scale(1.1);
}

.chat-friend-btn {
    color: var(--btn);
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    cursor: pointer;
}

/* Create Video Modal */
/* Create Video Modal */
.create-video-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px rgba(0, 0, 0, .2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-video-content {
    border-radius: 30px;
    min-width: 320px;
    max-width: 90vw;
    width: 60vw;
    height: 80vh;
    min-height: 120px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .2);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--btn) transparent;
    background-color: var(--background-color);
}

.create-video-modal header {
    width: 100%;
    background-color: var(--btn);
    color: var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.create-video-modal header button {
    background: none;
    border: none;
    cursor: pointer;
}

.create-video-modal header button:hover {
    transform: scale(1.1);
}

.create-video-modal main {
    width: 100%;
    padding: 0px 20px 20px 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--background-color);
}

.create-video-content main h2 {
    margin: 20px 0 10px;
}

.create-video-content main input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid var(--text-color);
    border-radius: 30px;
    background-color: transparent;
    color: var(--text-color);
}

.create-video-content main textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    border: 1px solid var(--text-color);
    border-radius: 30px;
    background-color: transparent;
    color: var(--text-color);
    resize: none;
}

.create-video-content main input[type="text"]:focus,
.create-video-content main textarea:focus {
    outline: none;
    border: 1px solid var(--btn);
}

.create-thumbnail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 30px;
}

.create-thumbnail img {
    width: 300px;
    border-radius: 15px;
}

.create-thumbnail input[type="file"] {
    display: none;
}

.create-thumbnail label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    text-align: center;
    padding: 10px;
    background-color: var(--btn);
    color: var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
}

.create-thumbnail label:hover {
    background-color: var(--btn-dark);
}

.create-video-tags-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.create-video-tags-container section {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.create-video-tags-container section select {
    padding: 20px;
    height: auto;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    scrollbar-width: thin;
    scrollbar-color: var(--btn) transparent;
}

.create-video-tags-container section :focus {
    outline: none;
}

.create-video-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.tag-input-container div {
    display: flex;
    flex-direction: row;
}

.tag-input-container div button {
    background: var(--btn);
    color: var(--primary-color);
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
}

.tag-input-container div button:hover {
    background: var(--btn-dark);
}

.tag-input-container div input {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.create-video-buttons button {
    padding: 12px 20px;
    background-color: var(--btn);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.create-video-buttons button:hover {
    background-color: var(--btn-dark);
}

.discard-changes-create-video {
    background-color: #e96765 !important;
    color: var(--primary-color);
}

.discard-changes-create-video:hover {
    background-color: #b94c4a !important
}

/* footer */
footer {
    margin-left: 100px;
    margin-top: 1rem;
}

footer div {
    background-color: var(--primary-color);
    width: 95%;
    height: auto;
    padding: 1rem 2rem;
    margin: 1rem auto;
    border-radius: 30px;
}

.menu-elem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px 20px;
    justify-items: center;
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
}

.menu-item {
    list-style: none;
}

.menu-item a {
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.8;
    transition: opacity 0.3s;
}

.menu-item a:hover {
    opacity: 1;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
    gap: 10px;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: var(--text-color);
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: color 0.5s ease;
}

.icon:hover {
    transform: translateY(-5px);
}

.footer-text {
    color: var(--text-color);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
}

@media (max-width:768px) {
    .main-content {
        margin-left: 70px;
    }

    .settings-main-content {
        flex-direction: column
    }

    .settings-main-content nav {
        width: 100%;
        border-bottom-left-radius: 0
    }

    .settings-main-content nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center
    }

    .setting-section {
        padding: 20px;
        width: 100%
    }

    .change-password-form button,
    .delete-account-btn,
    .disable-account-btn,
    .settings-option-btn {
        padding: 6px 10px
    }

    .sidebar {
        width: 200px;
        margin: 0;
        border-radius: 0
    }

    .sidebar-header {
        padding: 60px 0 0 76px
    }

    .sidebar.collapsed {
        width: 70px
    }

    .sidebar-nav .nav-list {
        padding: 0 5px
    }

    /* footer */
    .menu-elem {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 30px 10px;
    }

    .icon {
        font-size: 28px;
        margin: 0 6px;
    }

    .footer-text {
        font-size: 16px;
    }

    footer div {
        padding: 10px 20px;
    }

    footer {
        margin-left: 70px
    }
}