.main-content-search {
    width: 95%;
    padding: 1rem 2rem;
    margin-left: 100px;

    display: flex;
    flex-direction: column;
}

.filter-search-btn:hover {
    background-color: var(--btn-dark);
    color: white;
}

.search-results {
    width: 100%;
    height: auto;
    margin: 1rem 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-results, .channel-results, .short-results {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    gap: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.channel-search {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    gap: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-results {
    width: 100%;
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-results .channel-search {
    width: 30%;
    height: auto;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.short-thumb {
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;

    cursor: pointer;
}

.short-thumb:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.info-videos-search, .info-shorts-search {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-search-photo {
    width: 50px;
    height: 50px;
    border-radius: var(--border-radius);
}

.channel-search {
    cursor: pointer;
}

.channel-search:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.hidden {
    display: none;
}