/*------------Body-----------*/
a {
  text-decoration: none;
}

.ads {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.img-ads {
  border-radius: 30px;
  overflow: hidden;
  max-width: 95%;
  filter: brightness(80%);
}

/*SECCIONES*/
.popular-channels,
.trending,
.subscriptions,
.recommendations {
  background-color: var(--primary-color);
  width: 95%;
  height: auto;
  padding: 1rem 2rem;
  margin: 1rem auto;
  border-radius: 30px;
}

/*carruseles*/
.carousel-container {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 1rem;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--btn);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel-btn.left {
  left: 0;
  transform: translate(-50%, -50%);
}

.carousel-btn.right {
  right: 0;
  transform: translate(50%, -50%);
}

.carousel-btn:hover {
  background-color: var(--btn-dark);
}

.carousel-channels,
.carousel-trends,
.carousel-subs {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel-channels::-webkit-scrollbar,
.carousel-trends::-webkit-scrollbar,
.carousel-subs::-webkit-scrollbar {
  display: none;
}

/* populaar channels */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}

.profile-photo {
  width: 80px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;

}

.profile-photo:hover {
  transform: scale(1.1);
  cursor: pointer;

}

.name-channel,
.sub-channel {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

/*shorts*/
.short-card {
  width: auto;
  height: auto;
}

.short {
  width: 150px;
  height: 225px;
  border-radius: 20px;
  margin-top: 20px;
}

.short:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/*miniaturas*/
.video-thumb {
  min-width: 200px;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
  aspect-ratio: 16 / 9;
}

.video-thumb:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.video-card {
  width: 400px;
}

/* Recommendations */
.recommendations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.carousel-videos {
  display: none;
}

/*------------Responsive-----------*/
@media (max-width: 768px) {

  /* Carruseles */
  .carousel-container {
    padding: 0 20px;
  }

  .popular-channels,
  .trending,
  .subscriptions,
  .recommendations {
    padding: 10 10px;
  }

  .carousel-btn {
    width: 30px;
    height: 30px;
  }

  .profile-photo {
    width: 60px;
  }

  /* .video-card {
    width: 100%;
  } */

  .video-thumb {
    width: 120px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .short-card {
    width: 100%;
  }

  .short {
    width: 100px;
    height: 160px;
    margin-top: 10px;
  }


  .recommendations-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    scroll-behavior: smooth;
    display: flex;
  }

  .recommendations-container::-webkit-scrollbar {
    display: none;
  }

  .carousel-btn {
    display: block;
  }
}