/*------------Body-----------*/

/*ADS*/
.ads {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.img-ads {
    border-radius: 30px;
    overflow: hidden;
    max-width: 100%;
}

/*SECCIONES*/
.popular-channels, .trending, .subscriptions {
    background-color: #1a1a1b;
    width: 95%;
    height: auto;
    padding: 1rem 2rem;
    margin: 1rem auto;
    border-radius: 30px;
}

/*carruseles*/

.carousel-container {
    /* para posicionar las flechas */
    position: relative; 
    gap: 1rem;
}

.carousel-btn {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease; /* Apply transition here */
}

.carousel-btn.left {
    left: 0; /* Posiciona la flecha fuera del contenido */
    transform: translate(-50%, -50%);
}

.carousel-btn.right {
    right: 0;
    transform: translate(50%, -50%);
}

.carousel-btn:hover {
    background-color:#90B484; /* Only change the property */

}

.carousel-channels,
.carousel-trends,
.carousel-subs {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow-x: auto; /*permite el desplazamiento horizontal*/
    scroll-behavior:smooth; /*suaviza el desplazamiento*/
}

.carousel-channels::-webkit-scrollbar,
.carousel-trends::-webkit-scrollbar,
.carousel-subs::-webkit-scrollbar {
    display: none; /*oculta el scroll*/
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: auto;
    height: auto;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.subtitle {
    color:#777878;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.profile-photo {
    width: 106px;
    height: 106px;
    border-radius: 50%;
}

.name-channel, .sub-channel {
    display: block;
    white-space: nowrap;
    overflow: hidden; 
    /* agrega ... si el texto es muy largo */
    text-overflow: ellipsis; 
    margin: 0.25rem 0;
    font-size: 1rem;
    font-weight: bold;
    color: #777878; 
}

/*shorts*/

.short-card {
    width: 190px;
    height: auto; 
}

.short {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease; /* Apply transition here */
}

.short:hover {
    transform: scale(1.05); /* Only change the property */
}

/*miniaturas*/

.video-thumb {
    width: 377px;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s ease; /* Apply transition here */
}

.video-thumb:hover {
    transform: scale(1.05); /* Only change the property */
}

.video-card {
    width: 377px;
}
/*------------Responsive-----------*/

/*media query: regla de css aplicar estilos solo cuando se cumple una condición específica relacionada con el tamaño o características de la pantalla*/

@media (max-width: 768px) {
    /* Carruseles */
    .carousel-container {
        padding: 0 20px; /* Reduce el padding lateral */
    }

    .carousel-btn {
        width: 30px;
        height: 30px;
        font-size: 0.9rem;
    }

    .video-card {
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    .video-thumb {
        width: 277px; /* Ajusta las miniaturas al ancho del contenedor */
        border-radius: 20px; /* Reduce el borde redondeado */
    }

    /* Secciones */
    .popular-channels, .trending, .subscriptions {
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    .trending, .subscriptions {
        height: auto; /* Ajusta la altura automáticamente */
    }

    /* Texto */
    .name-channel, .sub-channel {
        font-size: 0.9rem; /* Reduce el tamaño del texto */
    }

    .subtitle {
        font-size: 1rem; /* Ajusta el tamaño del subtítulo */
        
    }

    /* ADS */
    .ads {
        margin: 1rem 0;
    }

    .img-ads {
        width: 100%; /* Ocupa todo el ancho disponible */
        border-radius: 20px; /* Reduce el borde redondeado */
    }
}