.first-discover-container {
    width: 95%;
    height: auto;
    margin: 1rem auto;
    border-radius: 30px;
}

.first-discover-container input {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    background-color: transparent;
    color: var(--color-text);
    margin-top: 20px;
}

.first-discover-container input:focus {
    outline: none;
    border: 1px solid var(--btn);
}

.recomendation-discover-container {
    width: 95%;
    height: auto;
    margin: 1rem auto;
}

.recomendation-discover-container h2 {
    margin-bottom: 20px;
}

.recomendation-discover-card {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    gap: 20px;
    border-radius: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Recomendation Discover Card Channel */
.recomendation-discover-card-channel-container {
    width: 200px;
    text-align: center;
}

.recomendation-discover-card-banner-container {
    width: 400px;
}

.recomendation-discover-card-last-activity-container {
    width: 50%;
}

.recomendation-discover-card-last-activity-container-videos {
    display: flex;
    gap: 10px;
}

.recomendation-discover-card-last-activity-container h3 {
    margin-bottom: 10px;
}

.fisrt-recomendation-discover-card {
    display: flex;
    gap: 20px;
    width: auto;
}


.recomendation-discover-card-last-activity-video {
    width: 400px;
    height: auto;
}

.recomendation-discover-card-last-activity-short {
    width: 200px;
    height: auto;
}

.recomendation-discover-card-banner-container img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.recomendation-discover-card-channel-container p {
    text-align: justify;
    margin-top: 10px;
}

.recomendation-discover-card-channel-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

@media (max-width: 1565px) {
    .recomendation-discover-card {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {

    .first-discover-container,
    .recomendation-discover-container {
        padding: 10 10px;
    }
}