/* --------- Community Section--------- */
#title {
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: baseline;
}

.left-menu {
  height: 1000px;
  width: 240px;
  background-color: #1a1a1b;
}

.container {
  display: flex;
}

.content-community {
  display: flex;
  flex-direction: row;
}

.top-row {
  display: flex;
  flex-direction: column;
}

.title-community {
  margin-left: 10px;
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
}

.subtitle-community {
  font-size: 22px;
  color: #ffffff;
  margin-left: 35px;
  margin-top: 20px;
}

.line-color-comments {
  width: 115px;
  height: 1px;
  margin-left: 35px;
  background-color: #ffffff;
}

.line {
  width: 1062px;
  height: 1px;
  background-color: #ffffff;
  opacity: 15%;
}

.video-community {
  display: flex;
  justify-content: row;
  width: 1000px;
  margin-left: 45px;
  margin-top: 25px;
}

.userphoto-community {
  width: 100px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-bottom: 25px;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 8px;
  padding: 10px;
  margin-left: 10px;
}

.username-community {
  color: #777878;
  margin-bottom: 10px;
}

.user-message-community {
  color: #d9d9d9;
  margin-bottom: 10px;
}

.lca-community {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  gap: 15px;
}

.btn-community {
  width: 70px;
  height: 35px;
  background-color: #1a1a1b;
  color: #ffffff;
  border-radius: 25px;
  border: 2px solid;
  border-color: #1a1a1b;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Apply transition here */
}

.btn-community:hover {
  background-color: #749269;
  color: black;
  cursor: pointer;
}

.video-commented-community {
  width: 175px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 5px;
  margin-left: 310px;
}

.video-title {
  margin-left: 15px;
  color: #ffffff;
}

.channel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px;
  margin-right: 45px;
  padding: 20px;
  position: absolute;
  right: 0;
}

.channel-photo {
  width: 100px;
  height: 100px;
  margin-top: 35px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.cn {
  font-size: 28px;
}
