/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Controla el tamaño y evita errores de diseño */
}

body {
    background-color: #1F1F20;
    font-family: 'Poppins', sans-serif;
    color: #777878;
}

hr {
    width: 100%;
    background-color: #777878;
    height: 1px;
    border: none;
    margin: 10px 0;
}

h1 {
    font-size: 1.5rem;
    color: #777878;
    margin: 10px 0;
}

h3 {
    font-size: 1rem;
    color: #777878;
    margin: 10px 0;
}

main {
    display: flex;
    justify-content: space-between;
}

/* MENU */
.left-menu {
    width: 15%;
    background-color: #1a1a1b;
    display: flex;
    justify-content: center;
}

.sidebar {
    margin: 16px;
    border-radius: 16px;
    background: var(--primary-color);
    height: calc(100vh - 32px);
    transition: 0.4s ease;
}

.sidebar-header {
    display: flex;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-between;
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 5px;
    flex-direction: column;
    transform: translateY(10px);
    transition: 0.4s ease;
}

.sidebar-nav .nav-link {
    color: var(--text-color);
    display: flex;
    gap: 12px;
    white-space: nowrap;
    border-radius: 8px;
    align-items: center;
    padding: 10px 0px;
    text-decoration: none;
    transition: 0.4s ease;
}

.nav-link :hover {
    color: #90B484;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-list button {
    background-color: transparent;
    border: none;
}

.sidebar-nav .nav-link:hover {
    color: var(--primary-color);
    background: var(--hover-color-a);
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 30px;
}

/* Content */
.channel-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1rem;
    overflow: hidden;
}

/* Tabs */
.ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.li {
    padding: 1rem;
}

.li.active {
    border-radius: 30px;
    background-color: #90b484;
    color: #1F1F20;
}

.li:hover{
    border-radius: 30px;
    color: white;
    background-color: #749269;
    cursor: pointer;
}

/* Filter bar */
.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
}

.filter-bar input[type="text"] {
    background-color: transparent;
    color: #777878;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border: none;
}

.filter-icon {
    color: #777878;
    font-size: 1.4rem;
}

.filter-icon:hover {
    color: #90b484;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Table */
.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.content-table {
    width: 100%;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}

.content-table.active {
    opacity: 1;
}
.row-header, .row {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.cell {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    flex-basis: 0;
    gap: 1rem;
    box-sizing: border-box;
}

.cell.checkbox {
    flex-grow: 0.2;
    width: 40px;
    text-align: start;
    padding-left: 0.5rem;
}

.cell.video {
    flex-grow: 2.3;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
}

.cell.visibility,
.cell.restrictions,
.cell.date,
.cell.views,
.cell.comments,
.cell.likes {
    flex-grow: 1;
    text-align: center;
}

/* Thumbnail */
.thumb {
    width: 80px;
    height: auto;
    border-radius: 4px;
}

/* Video Info */
.video-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title-text {
    font-weight: bold;
    color: #777878;
    margin: 0;
}

.description {
    color: #777878;
    font-size: 0.9em;
    margin: 0;
}

.published {
    font-size: 0.8em;
    color: #777878;
}

.sortable {
    cursor: pointer;
}

/* Right Section */
.right-menu {
    width: 15%;
    height: 100vh;
    padding: 10px;
    background-color: #1a1a1b;
    text-align: center;
}

.right-menu img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}