.container-button,
.container-channel,
.content-ul li button {
    background: var(--primary-color);
}

.banner-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.banner-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 30px;
}

.text-principal-video h2, .text-principal-video p  {
    text-align: start;
}


.container-button,
.container-profile {
    display: flex;
    width: 95%;
    height: auto;
    padding: 20px;
    margin: 1rem auto;
    border-radius: 30px;
    justify-content: space-between;
}

.first-part-profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-button ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row,
.row-info {
    display: flex;
    gap: 20px;
    justify-content: start;
}

.row-info p {
    text-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row a {
    height: 40px;
}

.video-thumbnail {
    width: 285px;
}

.video-thumbnail img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
    border-radius: 30px;
    margin-bottom: 10px;
}

.channel-photo {
    width: 199px;
    height: 199px;
    border-radius: 50%;
}

.customize-btn-channel,
.manage-btn-videos {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 10px;
    background-color: var(--primary-color);
    color: #777878;
    text-wrap: nowrap;
}

.customize-btn-channel:hover,
.manage-btn-videos:hover {
    color: var(--btn);
}

.subscribe-btn {
    background: var(--btn);
    border-radius: 25px;
    margin-top: 5px;
    height: 40px;
    width: 120px;
    border: none;
}

.content-ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav-btn {
    background-color: var(--btn);
}

.content-ul li button {
    border: none;
    color: var(--text-color);
    padding: 12px 20px;
    border-radius: 30px;
}

.content-ul li button.active {
    background: var(--btn);
    color: #1f1f20;
}

.btn-channel:hover {
    background: var(--btn-dark);
}

.content-ul li button.active:hover {
    background: var(--btn-dark);
}

.container-channel {
    width: 95%;
    height: auto;
    padding: 20px;
    margin: 1rem auto;
    border-radius: 30px;
}

.container-row p,
.video-channel-posts {
    margin-right: 20px;
}

.principal-video-container {
    display: flex;
    flex-direction: row;
}

.latest-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    gap: 1.3rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-top: 20px;
    background-color: var(--primary-color);
    border-radius: 30px;
    padding: 20px 10px;
}

.shorts-container {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;
    grid-auto-columns: calc(17.5% - 1.3rem);
    gap: 0.5rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-left: 15px;
}

.principal-video {
    width: 430px;
    height: 265px;
    border-radius: 30px;
}

.text-principal-video {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 20px;
}

.row-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.text-channel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-channel p {
    text-align: justify;
}

.container-row-posts,
.options {
    background: #1f1f20;
    border-radius: var(--border-radius);
    margin-top: 20px;
    margin-right: 20px;
}

.container-row-posts {
    padding: 20px;
    flex-direction: row;
}

.actual-icon-holder,
.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-grow: 1;
    min-width: 0;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.container-row-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.row-icons-buttons {
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts-footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.options {
    margin-top: 20px;
}

.options {
    padding: 10px;
}

.container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.post-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-channel {
    background: var(--btn);
    border-radius: 30px;
    border: none;
    padding: 12px 20px;
}

.btn-trash {
    background: #1f1f20;
    border-radius: 30px;
    border: none;
}

.btn-trash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    flex-shrink: 0;
}

.btn-trash:hover,
.icon:hover {
    transform: scale(1.1);
}

.postsOptions {
    display: flex;
    height: auto;
    padding: 20px;
}


.postsOptions {
    background: var(--primary-color);
    width: 1200px;
    margin-top: 20px;
    border-radius: var(--border-radius);
    flex-direction: column;
    width: 95%;
    margin: 1rem auto;
}

.empty-posts {
    text-align: center;
    background-color: transparent;
    padding: 0;
    padding-bottom: 1000px;
}

.post-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.post-text {
    width: 100%;
}

.post-text p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 99%;
}

.post-text small {
    color: var(--btn);
}

.postsOptions input {
    width: 100%;
    height: 100px;
    border-radius: 30px;
    padding: 0 20px;
    border: 1px solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
    margin: 20px 0px 20px 0px;
}

.postsOptions input:focus {
    outline: none;
    border: 1px solid var(--btn);
}

.nav-btn-videos-container {
    width: 95%;
    margin: 1rem auto;
}

.carousel-ctsvideos a {
    height: 100%;
}

.container-row-posts p {
    color: var(--btn);
}

.empty-channel-message {
    text-align: center;
    width: 95%;
    color: var(--text-color);
    border-radius: 30px;
    margin: 1rem auto;
    padding-bottom: 1000px;
}

@media (max-width: 768px) {
    .banner {
        height: auto;
        aspect-ratio: 16/9;
    }

    .container-profile {
        flex-direction: column;
    }

    .text-principal-video {
        margin-left: 0;
    }

    .principal-video {
        width: 100%;
        height: auto;
    }

    .first-part-profile {
        flex-direction: column;
        align-items: center;
    }

    .channel-photo {
        width: 100px;
        height: 100px;
    }

    .content-ul {
        justify-content: center;
    }

    .row {
        flex-direction: column;
    }

    .row a {
        display: flex;
        justify-content: center;
    }

    .container-row {
        justify-content: center;
    }

    .video-channel-posts {
        margin: 0;
    }

    .video-thumbnail {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .container-subscribe-btn {
        display: flex;
        justify-content: center;
    }

    .container-profile {
        padding: 0px !important;
    }

    .video-thumbnail img {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    .content-ul li button,
    .btn-channel {
        padding: 6px 12px;
    }
}

@media (max-width: 1100px) {
    .principal-video-container {
        justify-content: center;
        flex-direction: column;
    }

    .text-principal-video {
        margin-left: 0;
    }

    .principal-video {
        width: 100%;
        height: auto;
    }

    .container-profile {
        flex-direction: column;
        justify-content: center;
    }

    .row {
        justify-content: center;
        margin-top: 20px;
    }

    .text-principal-video h2 {
        margin-top: 20px;
    }

    .banner-image {
        border-radius: 30px;
    }
}