
.short-section, .video-section {
    margin-bottom: 1rem;
    width: 95%;
}

.channel-section {
  width: 95%;
  height: auto;
  padding: 1rem 2rem;
}

/* .video-section {
    background-color: var(--primary-color);
    padding: 2rem 5rem;
    border-radius: var(--border-radius);
}

.short-section {
    background-color: var(--primary-color);
    padding: 2rem 5rem;
    border-radius: var(--border-radius);
} */