.reset-password-page {
    display: flex;
    justify-content: center;
}

.reset-password-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-password-form input {
    width: 100%;
    border-radius: 30px;
    padding: 12px 20px;
    background: linear-gradient(90deg, #1e1e1f, #252526, #1e1e1f);
    border: 1px solid var(--border-container-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    color: var(--text-color);
    box-sizing: border-box;
    margin-top: 20px;
}

.reset-password-form input:focus {
    outline: none;
    border: 1px solid var(--btn);
}

.reset-password-form label {
    width: 100%;
    margin-top: 5px;
    text-align: right;
    font-size: 12px;
}


.reset-password-form button {
    background-color: var(--btn);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px;
    padding: 12px;
    width: auto;
}