.subscriptions-main-content {
    margin-left: 100px;
}

.subscriptions-section {
    margin: 1rem auto;
    padding: 1rem 2rem;
    width: 95%;
    height: auto;
    overflow: hidden;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

.subscriptions-carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel-subs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem 0;
    width: 90%;
}

.carousel-row, .carousel-row-shorts {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
}


.subscriptions-video-card{
    width: 300px;
    height: auto;
}

.subscriptions-short-card{
    width: 150px;
    height: auto;
}

.subscriptions-video-thumb {
    width: 100%;
    height: 200px;
    border-radius: var(--border-radius);
}

.subscriptions-short-thumb {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.subscriptions-carousel-btn{
    background-color: var(--btn);
    border-radius: var(--border-radius);
    border: none;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
}

.subscriptions-carousel-btn:hover {
    background-color: var(--btn-dark);
}