@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #1A1A1B;
  --secondary-background-color: #1f1f20;
  --text-color: #777878;
  --white-color: #fff;
  --hover-color-a: #90B484;
  --hover-color-b: #749269;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-width: 100vh;
  background-color: var(--secondary-background-color);
}

.sidebar {
  width: 270px;
  position: fixed;
  margin: 16px;
  border-radius: 16px;
  background: var(--primary-color);
  height: calc(100vh - 32px);
  transition: 0.4s ease;
}

.sidebar-header {
  position: relative;
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 5px; 
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(10px);
  transition: 0.4s ease;
}

.sidebar-nav .nav-link {
  color: var(--text-color);
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  align-items: center;
  padding: 11.5px 15px;
  text-decoration: none;
  transition: 0.4s ease;
}

.sidebar-nav .nav-link:hover {
  color: var(--primary-color);
  background: var(--hover-color-a);
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 56px;
    margin: 13px;
    overflow-y: hidden;
    scrollbar-width: none;
    max-height: calc(100vh - 28px);
  }

  .sidebar-nav .nav-list {
    padding: 0 10px;
  }

  .sidebar-nav .nav-link {
    gap: 10px;
    padding: 10px;
    font-size: 0.94rem;
    justify-content: center;
  }

  .sidebar-nav .nav-link .nav-icon {
    font-size: 1.37rem;
  }

  .sidebar-nav .nav-link .nav-label {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 48px;
    margin: 8px;
  }

  .sidebar-nav .nav-link {
    padding: 8px;
  }

  .sidebar-nav .nav-link .nav-icon {
    font-size: 1.2rem;
  }
}