@font-face {
    font-family: 'garet';
    src: url('/media/fonts/garet/Garet-Book.woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*controla el tamaño y evita errores de diseño*/
}

body {
    background-color: #1F1F20;
    font-family: garet;
    padding-top: 56px;
    color: #777878;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 1rem;
    background-color: rgba(30, 30, 31, 0.85);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    gap: 1rem;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

/*-------Sections--------*/

.left-section,
.search-section,
.right-section {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.account-section {
    display: flex;
    align-items: center;
    gap: 0.05rem;
}

/* icon buttons conf */
.menu-btn,
.mic-btn,
.notify-btn,
.user-btn {
    background: none;
    border: none;
    color: #777878;
    cursor: pointer;
    font-size: 1.2rem;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;
}

/* icon buttons hover */
.menu-btn:hover,
.mic-btn:hover,
.notify-btn:hover,
.user-btn:hover {
    color: #90B484;
}

/*--------- Left Section--------- */

.logo {
    height: 32px;
}

.title {
    font-size: 1.125rem;
    font-weight: 500;
    color: #777878;
}

/* --------- Mid Section--------- */

.search-section {
    flex: 1;
    max-width: 500px;
}

.mic-section {
    background-color: #1a1a1b;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-section {
    display: flex;
    align-items: center;
    background-color: #1a1a1b;
    border-radius: 20px;
    overflow: hidden;
    flex: 1;
}

.search-section input {
    background: transparent;
    border: none;
    color: #777878;
    padding: 8px 12px;
    flex: 1;
    min-width: 120px;
    font-size: 0.95rem;
}

.search-section input:focus {
    outline: none;
}

.search-btn {
    background-color: #90B484;
    padding: 8px 12px;
    border: none;
    color: #1F1F20;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #749269;
}

/* --------- Right Section--------- */

.create-btn {
    background-color: #1a1a1b;
    border-radius: 30px;
    padding: 10px;
    color: #777878;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.create-btn i {
    background-color: #90B484;
    color: #1a1a1b;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.create-btn:hover {
    color: #90B484;
}

.account-section {
    background-color: #1a1a1b;
    border-radius: 20px;
    padding: 5px 10px;
}

@media (max-width: 768px) {
    .search-section {
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: auto;
    }

    .search-section input[type="text"] {
        display: none;
    }

    .mic-section {
        display: none;
    }

    .bar-section {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        overflow: visible;
    }

    .search-btn {
        background-color: #1a1a1b;
        border: none;
        color: #777878;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        transition: all 0.3s ease;
    }

    .search-btn:hover {
        background-color: #1a1a1b;
        color: #90B484;
    }

    /* --- Estilos cuando la búsqueda está activa --- */
    .header.search-active .left-section,
    .header.search-active .right-section {
        display: none;
    }

    .header.search-active .search-section {
        flex-grow: 1;
        width: 100%;
        margin-left: 0;
    }

    .search-active {
        display: flex;
        justify-content: center;
    }

    .header.search-active .bar-section {
        display: flex;
        flex-grow: 1;
        background-color: #1a1a1b;
        border-radius: 20px;
        overflow: hidden;
        margin: 0 0.5rem;
    }

    .header.search-active .search-section input[type="text"] {
        display: block;
        flex-grow: 1;
        min-width: 10px;
    }

    .header.search-active .search-btn {
        background-color: #90B484;
        color: #1F1F20;
        border-radius: 0 20px 20px 0;
        width: auto;
        height: 100%;
        padding: 8px 12px;
        font-size: 1rem;
    }

    .header.search-active .search-btn:hover {
        background-color: #749269;
    }

    .create-btn {
        margin: 0px -10px 0px -10px;
    }

    .title {
        display: none;
    }
}