.share-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
}

/* EL CONTENEDOR EXPANDIBLE FLOTANTE */
.share-expandable {
  position: absolute;
  bottom: 0;
  /* Se expande hacia arriba */
  left: 50%;
  transform: translateX(-50%);

  width: 50px;
  height: 50px;

  background: var(--container-color-blur);
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

}

/* CUANDO SE EXPANDE */
.share-expandable.open {
  width: 260px;
  height: 330px;
  border-radius: 30px;
  padding: 20px;
  border: 1px solid var(--border-container-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  left: 130px;
  z-index: 2;
}

/* BOTÓN PRINCIPAL */
.share-btn {
  width: 100%;
  width: 100%;
  color: var(--text-color);

}

/* CONTENIDO INTERNO */
.share-menu-content {
  width: 100%;
  height: 100%;
  overflow-y: none;
  animation: fadeIn 0.25s ease;

}

.share-menu-header {
  display: flex;
  justify-content: space-between;
}

.friends-section {
  margin-top: 10px;
  max-height: 150px;
  /* Ajusta según necesites */
  overflow-y: auto;
  padding-right: 5px;
  /* Espacio para el scrollbar */
}

/* Estilo del scrollbar para que se vea bien */
/* .friends-section::-webkit-scrollbar {
  width: 4px;
}

.friends-section::-webkit-scrollbar-track {
  background: transparent;
}

.friends-section::-webkit-scrollbar-thumb {
  background: var(--btn);
  border-radius: 4px;
}

.friends-section::-webkit-scrollbar-thumb:hover {
  background: var(--btn-dark);
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CERRAR */
.close-btn {
  border: none;
  background: transparent;
  color: var(--text-color);
  cursor: pointer;
}

/* OPCIONES */
.share-option {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: var(--btn);
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.share-option svg path {
  color: var(--primary-color) !important;
}

.close-btn svg path {
  color: var(--text-color) !important;
}



.share-option:hover {
  background: var(--btn-dark);
}

/* AMIGOS */
.friend-item {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background: linear-gradient(90deg, #1e1e1f, #252526, #1e1e1f);
  border: 1px solid var(--border-container-color);

  border-radius: 30px;
  color: var(--text-color);

  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.friend-item:hover {
  color: var(--btn);
}

.friend-item img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .vv-displayVideo-userActions .share-expandable.open {
    left: 10px;
  }

  .action-button .share-expandable.open {
    margin-left: -270px;
  }
}