.ct-videoCard {
    display: flex;
    color: var(--text);
    font-size: .8rem;
    gap: 20px;
    flex-direction: column;
    width: 360px;
    margin-bottom: 20px;
    overflow: hidden;
    background: linear-gradient(90deg, #1e1e1f, #252526, #1e1e1f);
    border: 1px solid var(--border-container-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    padding: 20px;
}

.ct-videoCard-header {
    display: flex;
    justify-content: center;
}

.ct-videoCard-thumbnail {
    cursor: pointer;
    width: 320px;
    aspect-ratio: 16 / 9;
    border-radius: 20px;
}

.ct-videoCard-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ct-videoCard-infoVideo {
    display: flex;
    flex-direction: column;
}

.ct-videoCard-infoVideo div {
    display: flex;
    justify-content: space-between;
}

.ct-videoCard-info .ct-videoCard-title {
    cursor: pointer;
    font-size: large;
    font-weight: 400;
}

.ct-videoCard-infoUser {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.ct-videoCard-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ct-videoCard-avatar {
    width: 24px;
    height: 24px;
    border-radius: 1000px;
}

.ct-videoCard-infoUserName {
    font-size: medium;
    opacity: .6;
}

.ct-videoCard-description.watch {
    display: none;
}

@media screen and (max-width: 1022px) {
    .sr-videosSection.watch {
        width: 100%;
    }

    .ct-videoCard {
        width: 100%;
        flex-direction: row;
    }

    .ct-videoCard-info {
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .ct-videoCard {
        width: 100%;
        flex-direction: column;
    }

    .sr-videosSection.watch {
        width: auto;
    }

    .ct-videoCard-info {
        justify-content: space-between;
    }
}